
/**
 * components/containers/About.css
*/
body.about main p {
  max-width: 90ch;
  margin-bottom: 1rem;
}

body.about main img {
  width: 25rem;
}

body.about main img:first-of-type {
  margin-right: 2.5rem;
}