---
// Imports
import Base from './Base.astro';
import '../styles/layouts/Contact.css';

// The content prop gives access to frontmatter in a layout
const { content } = Astro.props;
---
<Base title="Contact">
  <h2>{content.title}</h2>
</Base>