---
// Imports
import Base from './Base.astro';

// Access frontmatter/markdown from source file
const { content } = Astro.props;
---
<Base title="test-entry">
  <h2>{content.title}</h2>

  <article>
    <slot />
  </article>

</Base>
